doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nexum - Home
        link(rel="stylesheet", href="style/base.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="style/home.css")
    body 
        a(class="floating-btn" href="/") refresh
        header 
            h1 Nexum
            div(class="material-icons-outlined hamburguer hide-on-large", onclick="toggleMenu()") menu
        div(class="wrap")
            section(class="posts") 
                each val in posts
                    div(class="post")
                        div(class="whospost")
                            a(class="name", href="/accessProfile/" + val.creatorID)= val.name
                            a(class="email", href="/accessProfile/" + val.creatorID)= val.email 
                            if sessionID == val.creatorID 
                                a(href="/deletePost/" + val.id, class="material-icons-outlined delete") delete
                        hr
                        p(class="content")= val.contentText
                        small(class="post-date")= val.createdAt
            menu 
                div(class="user-data")
                    h2(class="name")= user.name
                    h5(class="email")= user.email
                div(class="actions")
                    hr
                    a(href="/post") Criar um novo post
                    a(href="/changePassword") Alterar senha
                    a(href="/login") Fazer um novo Login 
                    a(href="/deleteLogin") Deletar conta 
                    a(href="/cadastro") Fazer um novo Cadastro 
    script(src="javascripts/menu.js") 
    script(src="javascripts/formatDate.js") 